@use '../partials/global/variables' as v;

footer {
   background-color: v.$background;
   color: v.$primary;
   text-align: center;
   font-size: v.$body-font;
   display: flex;
   flex-direction: column;
   gap: 30px;

   .footer-nav-menu{
      display: flex;
      justify-content: center;
      gap: 10%;
   }
}