@use './global/variables' as v;

header {
   background: url(../images/header-med.jpg);
   background-size: cover;
   height: 100vh;
   position: relative;

   nav {
      display: flex;
   }
   .nav-menu {
      display: flex;
      gap: 17%;
      font-size: 1.2rem;
      padding-top: 30px;

      a {
         font-weight: 700;
         transition: 0.2s;
      }
   }

   .hamburger {
      display: none;
      cursor: pointer;
      padding-top: 30px;
      z-index: 10;

      .bar {
         display: block;
         width: 25px;
         height: 3px;
         margin: 5px auto;
         transition: all 0.3s ease-in-out;
         background-color: black;
         border: none;

      }
   }

   

   h1 {
      position:absolute;
      top: 50vh;
      font-size: 2.8rem;
      
   }
   
   i {
      display: block;
      font-size: 2rem;
      color: v.$primary;
      padding-top: 30px;
      cursor: pointer;
   }

   span {
      border-bottom: solid 4px v.$secondary;
   }

   /* typewriter cursor */
   span#carat {
      border: none;
      animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-start infinite;
   }
   
   /* typewriter cursor blink effect */
   @keyframes blink-caret {
      from, to { color: transparent }
      50% { color: v.$secondary; }
   }

}