@use './global/variables' as v;

header {
   background: url(../images/header-med.jpg);
   background-size: cover;
   height: 100vh;
   position: relative;
   

   nav.desktop ul{
      display: flex;
      gap: 10%;
      font-size: 1.2rem;
      padding-top: 30px;

      a {
         font-weight: 700;
         transition: 0.2s;
      }
   }

   ul.dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      i.xmark {
         display: none;
      }

      .menu {
         display: none;
      }

      a {
         display: none;
      }


   }

   h1 {
      position:absolute;
      top: 50vh;
      font-size: 2.8rem;
      
   }
   
   i {
      display: none !important;
      font-size: 2rem;
      color: v.$primary;
      padding-top: 30px;
      cursor: pointer;
   }

   span {
      border-bottom: solid 4px v.$secondary;
   }

   /* typewriter cursor */
   span#carat {
      border: none;
      animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-start infinite;
   }
   
   /* typewriter cursor blink effect */
   @keyframes blink-caret {
      from, to { color: transparent }
      50% { color: v.$secondary; }
   }

}