// Header
@media (max-width: 900px) {
   header {
      background-image: url(../images/header-sm.jpg);
      background-size: cover;
      

      nav a {
         font-size: clamp(1rem, 2.7vw, 2rem);
      }

   }
}
