
@media (max-width: 900px) {
   header {
      background-image: url(../images/header-sm.jpg);
      background-size: cover;
      

      nav a {
         font-size: clamp(1rem, 2.7vw, 2rem);
         display: inline-block;
      }

   }

   .about {
      p {
         font-size: clamp(1rem, 2.2vw, 1.8rem);
      }
   }
}

@media (max-width: 768px) {
   

   header {
      nav.desktop ul {
         flex-direction: column;
         gap: 30px;
      }

      nav.dropdown {

         i.menu {
            display: block !important;
         }
      }
   }

   section.projects {

      .card {
         flex-direction: column;
         text-align: center;

         .img-container {
            width: 75% !important;
            min-width: 0 !important;
         }

         .text-container {
            width: 100% !important;
         }
      }
   }

   .about {
      .about-flex {
         flex-direction: column;
         gap: 50px;
      }
   }
}
