@use './global/variables' as v;

@media (max-width: 900px) {
   header {
      background-size: cover;

      .nav-menu {
         gap:10%;
      }
      

      nav a {
         font-size: clamp(1rem, 2.7vw, 2rem);
         display: inline-block;
      }

   }

   .about {
      p {
         font-size: clamp(1rem, 2.2vw, 1.8rem);
      }
   }
}

@media (max-width: 768px) {
   

   header {
      .nav-menu {
         position: fixed;
         top: -100%;
         z-index: 9;
         flex-direction: column;
         justify-content: center;
         color: v.$primary;
         background-color: v.$background;
         width: 100%;
         font-size: 1.5rem;
         text-align: center;
         transition: 0.6s;

         .nav-item {
            margin: 16px 0;
         }
      }

      .nav-menu.active {
         top: 0;
      }

      .hamburger {
         display: block;
      }
      
      .hamburger.active .bar:nth-child(2) {
         opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
      }


   }

   section.about {

      .sig {
         width: 100%;
      }

      .text-container {
         width: 100%;
      }

      .img-container {
         max-width: 60%;
      }
   }

   section.projects {

      .card {
         flex-direction: column;
         justify-content: center;

         .img-container {
            width: 75%;
            min-width: 0;
         }

         .text-container {
            width: 100%;
            text-align: center !important;
            display: flex;

            .made-with {
               justify-content: center;
               align-items: center;
               display: flex;
               .icon-list {
                  font-size: 1.2rem;
               }

               
            }

            .links {
               justify-content: center;
            }
         }
      }
   }

   .about {
      .about-flex {
         flex-direction: column;
         gap: 50px;
      }
   }
}

@media (max-width: 500px) {
   header {
      h1 {
         font-size: 2rem;
      }
   }

   section.projects {
      .card {
         .text-container {
            .made-with {
               .icon-list {
                  font-size: 1rem;
               }
            }
         }
      }
   }
}
