@use './global/variables' as v;

section.projects {
   text-align: center;

   .card {
      display: flex;
      gap: 50px;
      margin: 50px 0;
      align-items: center;

      .aos-animate{
         transition: 0.8s;
      }

      .img-container {
         width: 45%;
         min-width: 320px;       
      }

      .text-container {
         text-align: justify;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 55%;
         height: 100%;

         h3 {
            text-align: center;
         }

         p {
            margin: 10px 0;
            font-size: v.$body-font;
         }
         a.psdtext {
            display: inline;
            text-decoration: underline;
            text-decoration-color: v.$secondary;
            border:none;
            &:hover,&:focus {
               color: v.$secondary;
            }
         }
         
         .made-with {
            display: flex;
            margin-top: 10px;

            p {
               max-width:35%;
               min-width: 100px;
            }

            .icon-list {
               display: flex;
               flex-wrap: wrap;
               gap: 20px;
               margin-left: 10px;
               font-size: clamp(1.5rem, 1.8vw, 2rem);
               max-width: 100%;
               text-align-last: left;
            }
         }

         .links {
            text-align: center;
            display: flex;
            margin-top: 10px;
            justify-content: center;

            a {
               margin-right: 30px;
               padding-bottom: 5px;
               display: flex;
               gap: 10px;
               &:hover, &:focus {
                  color: v.$secondary;
               }

               p {
                  margin: 0;
               }
            }
         }
      }
   }
}
   