@use './global/variables' as v;

section.skills {
   text-align: center;

   .aos-animate{
      transition: 0.8s;
   }

   ul.icon-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 6%;
      justify-content: center;

      li {
         flex-basis: 30%;
         margin: 10px;
         padding: 10px;
         transition: 0.2s;
         &:hover{
            transition: 0.2s;
            color: v.$secondary;
            
         }
      }

      i, .i {
         font-size: 3rem;
      }
   }
}